* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo_task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:  1px solid black;
    width: 20em;
    min-height: 5em;
    margin: 10px;
    align-self: center;
    text-align: center;
}

.todo_task_header {
    padding: 10px;
    flex-basis: 100%;
    font-size: 18px;
}

.todo_task_status {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    margin: 10px;
}