* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:  1px solid black;
    width: 20em;
    min-height: 5em;
    margin: 8px;
    align-self: center;
    text-align: center;
}

.todo-task_header {
    padding: 8px;
    flex-basis: 100%;
    font-size: 24px;
}

.todo-task_wrapper{
    display: flex;
    flex-direction: row;
}
.todo-task_status {
    min-width: 3em;
    border: 1px solid black;
    margin: 8px;
}

.todo-task_status_in-progress {
    background-color: goldenrod;
}

.todo-task_status_failed {
    background-color: darkred;
}

.todo-task_status_success {
    background-color: green;
}

.todo-task_desc {
    padding: 8px;
    margin: 8px;
    font-size: 8px;
    flex: 1;
}

.todo-task_status_button-change {
    cursor: pointer;
    padding: 8px;
}
