*, :before,:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.todo-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    border:  1px solid black;
    width: 30em;
    margin: 8px 8px 16px 8px;
}
.todo-form_header-h2{
    align-self: center;
    padding: 8px;
    font-weight: initial;
}
.todo-form_label{
    margin:  0 8px ;
}
.todo-form_input {
    margin: 8px;
    padding: 4px;
}
.todo-form_description {
    resize: none;
    margin: 8px;
    padding: 4px;
    font-family: sans-serif;
    overflow: auto;
}
