* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:  1px solid black;
    width: 30em;
    min-height: 5em;
    margin: 8px;
    align-self: center;
    text-align: center;
}
.todo-list__wrapper {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 8px 0 8px;
}
